@using QuestUi.Data
<div style="display: flex; justify-content: space-between">
    <h2>Task dashboard</h2>
    <MatButton Outlined="true" class="btn btn-primary" style="width: 100px;" @onclick="SaveData" disabled="@IsSaveHappening">@SaveDataButtonText</MatButton>
</div>
<MatTextField @bind-Value="Title" Label="Title"/>
<MatTextField @bind-Value="Description" Label="Description" />
<MatSelect Label="Select a priority" TValue="int" ValueChanged="@(v => Priority = (Priority)v)" Value="@((int)Priority)">
    @foreach (int priority in Enum.GetValues(typeof(Priority)))
    {
    <MatOption TValue="int" Value="priority">@Enum.GetName(typeof(Priority), priority)</MatOption>
    }
</MatSelect>
<MatButton Outlined="true" class="btn btn-primary" @onclick="CreateQuest" disabled="@IsSaveHappening">Add a task</MatButton>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">Completed</div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">Title</div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">Description</div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">Priority</div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">DateAdded</div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">Delete</div>
    </div>
    @foreach (var quest in Quests)
    {
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1"><input type="checkbox" @bind="quest.IsCompleted"></div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">@quest.Title</div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">@quest.Description</div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">@quest.Priority</div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">@quest.DateAdded.ToLocalTime().ToString("g")</div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1"><MatButton Outlined="true" @onclick="@(e => Delete(quest))" disabled="@IsSaveHappening">Delete</MatButton></div>
        </div>
    }
</div>

@code
{

}